# Основные библиотеки для MVP
requests>=2.31.0
python-telegram-bot>=20.7
google-api-python-client>=2.108.0
python-dotenv>=1.0.0
schedule>=1.2.0

# Геолокация
geopy>=2.3.0

# Утилиты
pytz>=2023.3
python-dateutil>=2.8.2

# Для работы с данными
#O
#pandas>=2.0.3
